{% extends 'layout.html' %}

{%block title %} Iul Forum : About {% endblock title %}
{% block about_active %} active {% endblock about_active %}

{% block content %}
<div class="container">
  <div class="alert alert-light mt-4" role="alert">
    <h3>About the Author</h3>
  </div>
  <div class="about_author mx-4">
    <p>Hello! I’m Mohammad Asif (^^)</p>
    <p>Founder & Developer of iulforum.tech. Crafting ideas into reality.</p>
    <p>I have a strong interest in technology, exploring code & programming. I’m a self-taught Full Stack Web Developer
      & have created a few Web apps.</p>
  </div>


  <div class="alert alert-light " role="alert">
    <h3>About Iul Forum</h3>
  </div>
  <div class="about-blog mx-4">
    <p>At <a class="text-decoration-none text-danger" href="/">Iul Forum</a>, We Take The Responsibility Of Feeding Your Curiosity For Technical Information With The Latest
      Tech News, coding World Updates</p>

    <p><a class="text-decoration-none text-danger" href="/">Iul Forum</a> is a platform where students can gain information about Computer Science and Web Development. CODEUPON provides simple and easy notes and you will find numerous subjects related to computer science such as programming in C, Programming in C++, Computer Networks, Management Information System, Visual Basic, And System Analysis and Design and many more.</p>

    <h4></h4>
    <p>Our main goal is to provide you with the latest information about technology, hacking news, tutorials to make the
      users more aware of the New things in Technological world. We provide information about ethical hacking, hacking
      attacks and DDOS attacks, online phishing, the dark web and how you can protect yourself from dark web spams.</p>

  </div>
  <div class="alert alert-light " role="alert">
    <h3>What to expect from this site</h3>
  </div>
  <div class="about_more mx-4">
    <p>IYou will learn tons of computer tips and tricks that will change you to a computer geek (even
      without you knowing it). Topics covered here include troubleshooting your computer, optimizing operating system
      performance (be it Windows, Mac or Linux), simplifying tasks, software review and plenty of cool stuff. If you
      think that computer technology is only for geeks, then we aspire to change your thinking.</p>

  </div>



  <div class="alert alert-light" role="alert">
    <h3>Want To learn Hacking tips and tricks visit this link:</h3>
  </div>
  <div class="about_developer mb-4 mx-4">
    <a href="https://hacklikeanonymous.blogspot.com" target="_blank">Hack Like Anonymous</a>
  </div>



</div>
{% endblock  %}